body{
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
}

.header{
    display: flex;
    justify-content: space-between;
    position: sticky;
    background-color: #5B5DEE;
    top: 0px;
    width: 100%;
    color: #fff
}

.header__h1{
    display: flex;
    justify-content: space-around;
    padding: 10px 30px 10px 30px;
    margin: 0;
    font-family: 'Dancing Script', cursive;
}
nav{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}
.header__ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    min-width: 50rem;
}
nav li{
    list-style: none;
}
main{
    width: 100%
}
.cover-page{
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;;
    padding: 100px;
    height: 20rem;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url("background.svg");
    background-position: right bottom;

}
.cover-page__title{
    font-size: 80px;
}
.cover-page__title--secondary{
    font-size: 30px;
    font-weight: 400;
}
.family{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px;
    height: 28rem;
    color: #2F2F4B;
}
.family__title{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size:2rem;
    margin-bottom: 50px;
}
.family__group{
    display: flex;
    justify-content: center;
    max-width: 1000px;
    flex-wrap: wrap;
}
.family__article{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 30px 0  30px;
}
.family__img{
    border-radius: 100px;
    box-shadow: 0px 4px 10px rgba(159, 159, 159, 0.25);
}
footer{
    display: flex;
    justify-content: space-evenly;
    padding: 40px;
    height: 10rem;
    color: #fff;
    background: linear-gradient(255.82deg, #5B5DEE 12.59%, rgba(91, 93, 238, 0.7) 96.88%);
}
.footer__ul{
    display: flex;
    flex-direction: column;
    list-style: none;
}
